html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
  text-align: center;
}

header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: #e0dddd;
  color: rgb(70, 67, 67);
  font-size: 8rem;
  width: 15rem;
  padding: 3rem 0 rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 20px;
}

.between {
  font-size: 1.4rem;
}

.right {
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.message {
  padding-bottom: 30px;
  font-size: 15px;
}

.again,
.check {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  text-decoration: solid;
  border-radius: 10px;
}

.again:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.check:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

section.left {
  display: flex;
  gap: 5px;
}

.guess {
  margin-left: 180px;
}

.guess::placeholder {
  font-style: italic;
}
